/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Jost", serif;
  text-decoration: none;
  transition: all 0.42s ease;
}

html {
  scroll-behavior: smooth;
}

/* header section */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 10%;
  background-color: #ee1c47;
}

.logo img {
  max-width: 120px;
  height: auto;
}

.navmenu {
  display: flex;
}

.navmenu li {
  margin-right: 1rem;
}

.navmenu a {
  color: #2c2c2c;
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: all 0.45s ease;
  font-weight: 400;
  padding: 10px 20px;
}

.navmenu a:hover {
  color: #fff;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-icon i {
  margin-right: 20px;
  color: #2c2c2c;
  transition: all 0.42s ease;
  font-size: 25px;
  font-weight: 400;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: #fff;
}

#menu-icon {
  font-size: 35px;
  color: #2c2c2c;
  cursor: pointer;
  z-index: 10001;
}

/* home section */
.home {
  height: 100vh;
  background: url("/image/banner-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10%;
}

.content-section h5 {
  font-size: 30px;
  font-family: "Jost", serif;
  font-weight: bold;
  color: #ee1c47;
  text-transform: capitalize;
  margin-bottom: 7px;
}

.content-section h2 {
  color: #2c2c2c;
  font-size: 70px;
  font-weight: 400px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.content-section p {
  color: #2c2c2c;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 5px;
}

.content-btn {
  margin-top: 10px;
  padding: 14px 40px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.42s ease;
}

.content-btn:hover {
  background-color: #ee1c47;
  color: #fff;
  border-color: #ccc;
  outline: none;
}

.content-btn:active {
  outline: none;
  border: none;
}

/* trending section styles*/
.trending {
  padding: 20px 10%;
  background-color: #ccc;
}

.trending h2 {
  text-align: center;
  margin: 35px 10px;
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 600;
}

.trending h2 span {
  color: #ee1c47;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.card {
  height: 500px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 2rem 4rem #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  cursor: pointer;
}

.card:hover img {
  transform: scale(1.1);
}

.image-area img {
  height: 400px;
  width: 300px;
  transition: 0.5s ease all;
}

/* trending product info */
.info-section {
  height: 90px;
  width: 100%;
  padding: 0 10px;
}

.rating i {
  color: #fdcc0d;
  font-size: 20px;
  margin-bottom: 7px;
}

.info-section h4 {
  font-size: 20px;
  color: #2c2c2c;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.info-section p {
  font-size: 18px;
  font-weight: bold;
  color: #ee1c47;
}

/* customer review section styles */
.customer-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
}

.customer-review h2 {
  text-align: center;
  margin: 35px 10px;
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 600;
}

.customer-review h2 span {
  color: #ee1c47;
}

/* review card */
.review-card {
  height: 470px;
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  border: 4px solid #fff;
  box-shadow: 0 2px 4px #000;
  text-align: center;
}

.image-section img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid #ee1c47;
}

.customer-info-section {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.customer-info-section p {
  width: 70%;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.customer-info-section h1 {
  font-size: 30px;
  font-weight: 400px;
  margin-bottom: 4px;
}

.customer-info-section .btn {
  margin-top: 5px;
  padding: 14px 40px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.42s ease;
  background-color: #2c2c2c;
  text-decoration: none;
  color: #fff;
}

.customer-info-section .btn:hover {
  background-color: #000;
}

/* new updates */
.new-updates {
  padding: 20px 10%;
  background-color: #ccc;
}

.new-updates h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  padding: 10px;
  margin-bottom: 1rem;
}

.new-updates h2 span {
  color: #ee1c47;
}

.new-updates .container {
  display: flex;
  flex-wrap: wrap;
}

.new-updates .update-card {
  height: 560px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px 10px;
  box-shadow: 0px 4px 6px #000;
  margin: 1rem;
  border: none;
  border-radius: 12px;
  background-color: #fff;
}

.new-updates .update-card img {
  height: 400px;
  width: 680px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.new-updates .update-card p {
  font-size: 17px;
  text-transform: capitalize;
  color: #2c2c2c;
  letter-spacing: 1px;
  margin-bottom: 20px;
  width: 70%;
}

.new-updates .update-btn {
  color: #fff;
  padding: 14px 14px;
  text-transform: capitalize;
  font-weight: bold;
  background-color: #2c2c2c;
  border-radius: 5px;
}

.new-updates .update-btn:hover {
  background-color: #000;
}
/* end of new updates */

/* footer */
.footer {
  background-color: #ee1c47;
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social ul {
  display: flex;
  margin-bottom: 1rem;
}

.social ul li {
  margin-right: 1rem;
}

.social ul li img {
  height: 10px;
}

.social ul li a {
  color: #000;
  font-size: 20px;
  margin-right: 0.5rem;
}

.social ul li a:hover {
  color: #fff;
}

.footer p {
  font-size: 20px;
  color: #000;
  text-transform: capitalize;
  font-weight: 400;
}

.footer p a {
  color: #fff;
  text-decoration: underline;
}
/* footer end */

/* Responsive-css */
@media (max-width: 890px) {
  header {
    padding: 20px 3%;
    transition: 0.4s;
  }
}
@media (max-width: 630px) {
  .main-text h1 {
    font-size: 50px;
    transition: 0.4s;
  }
  .main-text p {
    font-size: 18px;
    transition: 0.4s;
  }
  .main-btn {
    padding: 10px 20px;
    transition: 0.4s;
  }
}

@media (max-width: 750px) {
  .navmenu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: #edfff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all 0.42s;
  }
  .navmenu a {
    display: block;
    margin: 18px 0;
  }
  .navmenu.open {
    right: 0;
  }

  .home {
    background-position: 65% 50%;
  }

  .content-section h5 {
    font-size: 20px;
  }

  .content-section h2 {
    font-size: 50px;
  }

  .content-section p {
    font-size: 18px;
  }

  /* review section */
  .customer-review h2 {
    font-size: 30px;
  }

  .review-card {
    height: 500px;
    width: 400px;
  }

  .customer-info-section p {
    width: 100%;
  }

  .new-updates h2 {
    font-size: 30px;
  }

  .new-updates .update-card {
    width: 500px;
    height: 500px;
  }

  .new-updates .update-card img {
    width: 480px;
    height: 200px;
  }
}

@media (max-width: 500px) {
  .content-section h2 {
    font-size: 30px;
  }

  .new-updates h2 {
    font-size: 30px;
  }

  .new-updates .update-card {
    width: 380px;
    height: 450px;
    margin: 0.8rem 0;
  }

  .new-updates .update-card img {
    width: 360px;
    height: 300px;
  }

  .new-updates .update-card p {
    width: 100%;
    font-size: 14px;
    letter-spacing: initial;
  }

  .footer {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer ul {
    flex-direction: column;
  }

  .footer ul li img {
    display: none;
  }
}
